<body onload="picturepl(); slider();">
	
		<div class="divLeft">
			<h1 >{{data.name}}</h1>	
		</div>
		
		<div class="divRight">
			<div class="guesscenter" id="prediv">
				<h1 id="headertotaltracks">{{ data.tracks.total }} songs</h1>
				
			</div>
			
		</div>
	
		
		<img id="coverpl" class="coverpl center" src="{{data.images[0].url}}"/>
		
	<div class="centered" id="game">
		<div class="innered">
			
			

			<div id="gameview" style="display:none">
				<div class="guesscenter">
					<h1 style="color:#070; font-weight: bold;"id="scorecount">0</h1>
				</div>
				<div>
					<div class="divLeft"> 
						<div class="guesscenter">
							<h2 id="indexcount">1</h2>
							<h2>/</h1>
							<h2 id="totaltracks"></h2>
						</div>
					</div>
					<div class="divRight">
						<div class="guesscenter">
							<h2 name="secondes" id="secondes"></h1>
						</div>
						
					</div>
				</div>

				



				<div class="divOnly" id="divLeft"> 
					<h2 class="headertekst" id="trackvisual">Track</h2>
				</div>
				
				
				<form name="guessform" id="guessform" autocomplete="off" class="center" onsubmit="return guessed(guess.value)">
					<input type="text" name="guess" onpaste="return false" placeholder="Tape ici le titre ou l'artiste" id="guess" class="guess">
					</br>
					</br>
					<div id="guessbtn" class="guesscenter">
						<button type='submit' style="display: none;" class="guessbtn" id="guessbtnbtn">GUESS</button>
					</div>
				</form>
				
				<div id="skipbtn" class="guesscenter">
					<button type='submit' class="skipbtn" id="skipbtnbtn" onclick="reveal()">SKIP</button>
				</div>
				<div id="myProgress">
					<div id="myBar"></div>
				</div>

				

			</div>
			<div id="launchgame">
				<div class="slidecontainer center" style="margin-top: 100px;" >
					<input oninput="slider()" onchange="slider()" type="range"  min="1" max="{{data.tracks.total}}" value="{{data.tracks.total}}" class="slider center" id="myRange">
				</div>
				<div class="guesscenter">
					<a ng-click="playall()"  style="display:none" id="launchgamebtnbtn"class="launchgamebtn">Play OnlyTracks on {{data.tracks.total}} songs</a>
				</div>
				<div class="guesscenter">
					<a href="#/users/{{data.owner.id}}/playlists/{{data.id}}/blindtest"  class="onlytbtn">Normal Mode</a>
				</div>
			</div>		
	</div>
	
	<div id="dialog-end" title="Congrats!" style="display:none;">
		<div class="guesscenter">
			<h1>Final Score</h1>
		</div>
		<div class="guesscenter">
			<h1 style="color:#070; font-weight: bold;" id="score">0</h1>
		</div>

		<div class="guesscenter">
			<h1 id="foundcount">0</h1>
			<h1>/</h1>
			<h1 id="finaltrackstotal">{{ data.tracks.total }}</h1>
			<h1>&nbsp;|&nbsp;</h1>
			<h1 id="foundprc">0</h1>
			<h1>%</h1>

			
		</div>
		
	</div>

	</div>
	
</body>


<!--

<hr/>

<h2>Missing functionality</h2>

<p>Mosaic</p>

<p><a href="#">PLAY FIRSTT THING</a></p>

<p><a href="#">FOLLOW/FOLLOWING</a></p>

-->
